*{
    margin: 0;
    padding: 0;
}
body {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
   overflow-x:hidden;
   /* overflow-y: hidden; */
   bottom: 0%;
   background-color: #111 ;
}

::-webkit-scrollbar {
    display:none;
}

footer{
    height: 100%;
    bottom: 0%; 
    width: 100%;
    background-color: #111 ;

}
.main-content{
    display: flex;
    padding: 10px;
}
.box{
    flex-basis: 25%;
    
    padding-block-end: 2%; 
}
.footer .main-content .left .content .h4{
     font-size: 4;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     size: 7px;
    font-weight: 50;
    color:rgb(7, 117, 112);
    
    padding: bottom 10px;
}

.box h1{
    font-size: 1.125rem;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
    color: gray;
   

}
.box .content .place{
    padding-left:3px;

}
.center .content .place{
    padding-bottom: 10px;
}
.center .content .mail{
    padding-bottom: 10px;
}
.box .social{
    margin-top: 50px  ;
    margin-left: 20px;
}
.box .social a{
    padding: 0 5px;
}

.box .social a span{
    height: 40px;
    width: 40px;

    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px solid white;

    transition: .5s;
}
.box .social a span:hover{
    background: #f12020;
     
}
.right form input, .right form textarea{
width: 100%;
font-size: 1.0625rem;
background: #151515;
border: 1px solid #222222;

}
.right form input :focus,
.right form textarea :focus{
  outline-color: #349334 ;
}
.right form input{
  height: 35px;
}
 
.footer .footer-bottom
{
    
    height: 0%;
    bottom: 0%;
     text-align: center;
    font-family: monospace;
    color: white;
    }
    @media (max-width:858px){


       
      .main-content{
        display: inline;
        padding: 10px;
        text-align: center;
    }
  }
